<% if(newsUrl != null) { %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= newsUrl.post_name %> - Northeast Surf</title>
        <!--favincon-->
        <!--favincon-->
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <meta name="keywords" content="<%= newsUrl.post_keyword %>" />
        <meta name="news_keywords" content="<%= newsUrl.post_keyword %>" />
        <meta name="description" content="<%= newsUrl.meta_description %>" />
        <link rel="canonical" href="https://northeastsurf.com/" />
        <meta name="revised" content="<%= newsUrl.author %>, <%= newsUrl.update_date %>">
        <meta name="author" content="<%= newsUrl.author %>">
        <meta property="og:locale" content="en_us" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="<%= newsUrl.post_name %>" />
        <meta property="og:description" content="<%= newsUrl.meta_description %>" />
        <meta property="og:url" content="https://northeastsurf.com/<%= newsUrl.post_category %>/<%= newsUrl.post_url %>" />
        <meta property="og:image" content="<%= newsUrl.post_image %>" />
        <meta property="og:image:alt" content="<%= newsUrl.post_name %>" />
        <meta property="og:image:width" content="1600">
        <meta property="og:image:height" content="900">
        <meta property="og:site_name" content="Northeast Surf" />
        <meta name="tweetmeme-title" content="<%= newsUrl.post_name %>" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@innesurf" />
        <meta name="twitter:creator" content="@innesurf" />
        <meta name="twitter:url" content="https://northeastsurf.com/<%= newsUrl.post_category %>/<%= newsUrl.post_url %>" />
        <meta name="twitter:title" content="<%= newsUrl.post_name %>" />
        <meta name="twitter:description" content="<%= newsUrl.meta_description %>" />
        <meta name="twitter:image" content="<%= newsUrl.post_image %>" />
        <meta name="twitter:image:alt" content="<%= newsUrl.post_name %>" />
        <meta property="article:published_time" content="<%= newsUrl.update_date %>" />
        <meta property="article:modified_time" content="<%= newsUrl.update_date %>" />
        <meta property="fb:pages" content="103529045681976" />
        <meta itemprop="name" content="<%= newsUrl.post_name %> | Northeast Surf">
        <meta itemprop="description" content="<%= newsUrl.meta_description %>">
        <meta itemprop="image" content="<%= newsUrl.post_image %>">

        <script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
        "@id": "https://northeastsurf.com/",
        "name": "Home"
        }
        },
        {
        "@type": "ListItem",
        "position": 2,
        "item": {
        "@id": "https://northeastsurf.com/tripura/",
        "name": "Tripura news"
        }
        }
        ,{
        "@type": "ListItem",
        "position": 3,
        "item": {
        "name": "<%= newsUrl.post_name %>"
        }
        }
        ]
        }
        </script>


        <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "WebPage",
        "name": "<%= newsUrl.post_name %>",
        "description": "<%= newsUrl.meta_description %>",
        "keywords": "<%= newsUrl.post_keyword %>",
        "speakable": {
        "@type": "SpeakableSpecification",
        "cssSelector": "[<%= newsUrl.meta_description %>]"
        },
        "url": "https://northeastsurf.com/<%= newsUrl.post_category %>/<%= newsUrl.post_url %>"
        }
        </script>

        <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "NewsArticle",
        "url": "https://northeastsurf.com/<%= newsUrl.post_category %>/<%= newsUrl.post_url %>",
        "publisher":{
            "@type":"Northeast Surf",
            "name":"<%= newsUrl.author %>",
            "logo":"https://northeastsurf.com/logo.png"
        },
        "headline": "<%= newsUrl.post_name %>",
        "mainEntityOfPage": "https://northeastsurf.com/<%= newsUrl.post_category %>/<%= newsUrl.post_url %>",
        "articleBody": "<%= newsUrl.meta_description %>",
        "image":"<%= newsUrl.post_image %>",
        "datePublished":"<%= newsUrl.update_date %>"
        }
        </script>


        <!-- Bootstrap, Font Awesome, Aminate, Owl Carausel, Normalize CSS -->
        <link href="/css/css-bootstrap.css" rel="stylesheet">
        <link href="/css/css-owl.carousel.min.css" rel="stylesheet">
        <link href="/css/css-owl.theme.default.min.css" rel="stylesheet">

        <!-- Site CSS -->
        <link href="/css/css-style.css" rel="stylesheet">
        <link href="/css/css-widgets.css" rel="stylesheet">
        <link href="/css/css-color-default.css" rel="stylesheet">
        <link href="/css/css-responsive.css" rel="stylesheet">
        <link href="/css/custom.css" rel="stylesheet">

        

        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Cabin:400,700&amp;display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=B612+Mono&amp;display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&amp;display=swap" rel="stylesheet"> 

        <!-- Icons fonts-->
        <link href="/css/css-fontello.css" rel="stylesheet">

        <!--Poprup-->
        <link href="/css/css-popup.css" rel="stylesheet">
        <script src="/js/js-jquery.min.js"></script>       
        <script src="/js/js-jquery.bpopup.min.js"></script>
        <script>
        $( document ).ready(function() {
            $('#popup_this').bPopup();
        });
        </script>

        <link href='https://fonts.googleapis.com/css?family=Droid Serif' rel='stylesheet'>
        <%- include('alltags.ejs'); %> 

    </head>
    <body class="single">
        <div class="top-scroll-bar"></div>
       <%- include('header.ejs'); %>
            <main id="content">
                <div class="container">
                    <div class="entry-header">                        
                        <div class="mb-5">
                            <h1 class="entry-title m_b_2rem" style="font-family: Droid Serif;">
<%= newsUrl.post_name %></h1>
<p style="font-family: Droid Serif;color: #6b6b6b;margin-top: -20px;"><%- newsUrl.post_summary %></p>

                            <div class="entry-meta align-items-center">
                                <a class="author-avatar" href="#"><img src="https://media.northeastsurf.com/author-surf.png" alt=""></a>
                                <a href="#"><%= newsUrl.author %></a> in <a href="/">Surf&trade;</a><br>                                    
                                <span><%= newsUrl.update_date %></span>
                                <span class="middotDivider"></span>
                                <span class="readingTime" title="3 min read">3 min read</span>
                                <span class="svgIcon svgIcon--star">
                                    <svg class="svgIcon-use" width="15" height="15">
                                        <path d="M7.438 2.324c.034-.099.09-.099.123 0l1.2 3.53a.29.29 0 0 0 .26.19h3.884c.11 0 .127.049.038.111L9.8 8.327a.271.271 0 0 0-.099.291l1.2 3.53c.034.1-.011.131-.098.069l-3.142-2.18a.303.303 0 0 0-.32 0l-3.145 2.182c-.087.06-.132.03-.099-.068l1.2-3.53a.271.271 0 0 0-.098-.292L2.056 6.146c-.087-.06-.071-.112.038-.112h3.884a.29.29 0 0 0 .26-.19l1.2-3.52z"></path>
                                    </svg>
                                </span>

                                
                                
                            </div>
                            

                            
                        </div>
<!-- ShareThis BEGIN --><div class="sharethis-inline-share-buttons" style="margin-top: -35px; padding-bottom:10px"></div><!-- ShareThis END -->

                        <figure class="image zoom mb-5">
                            <img src="<%= newsUrl.post_image %>" alt="<%= newsUrl.post_name %>" style="justify-content: center;width: 100%;" />
                            
                        </figure>  <!--figure-->
                    </div> <!--end single header-->
                    
                    <article class="entry-wraper mb-5">
                        <div class="entry-left-col">
                            <div class="social-sticky">
                                <a href="#"><i class="icon-facebook"></i></a>
                                <a href="#"><i class="icon-twitter"></i></a>
                                <a href="#"><i class="icon-heart"></i></a>
                                <a href="#"><i class="icon-paper-plane"></i></a>
                            </div>
                        </div>
                       
                        <div class="entry-main-content dropcap">

                                <%- newsUrl.post_content; %>
                                <div class="sharethis-inline-reaction-buttons"></div>


                            <!--Begin Subcrible-->
                            <div class="border p-5 bg-lightblue mb-5">
                                <div class="row justify-content-between">
                                    <div class="col-md-5 mb-2 mb-md-0">
                                        <h5 class="font-weight-bold secondfont mb-3 mt-0">Become a member</h5>
                                        <p class="small-text">Get the latest news right in your inbox. We never spam!</p>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" placeholder="Enter your e-mail address">
                                            </div>
                                            <div class="col-md-12 mt-2">
                                                <button type="submit" class="btn btn-success btn-block">Subscribe</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Subcrible-->
                            
                        </div>
                        <div class="entry-bottom">
                            <div class="tags-wrap heading">
                                <span class="tags">
                                    <% //Loading the variable
                                    var mystr = newsUrl.meta_tags;
                                    
                                    //Splitting it with : as the separator
                                    var myarr = mystr.split(",");
                                    
                                    //Resulting array structure
                                    //myarr = ['0000000020C90037', 'TEMP', 'data'];
                                    for(var i = 0; i < myarr.length; i++) { %>
                                        <a href="#" rel="tag"><%= myarr[i] %></a>

                                      <% } %>
                                </span>
                            </div>
                        </div>
                        
                    </article> <!--entry-content-->
                    
                    <!--Begin post related-->
                    <div class="related-posts mb-5">
                        <h4 class="spanborder text-center">
                            <span>Related Posts</span>
                        </h4>
                        <div class="row justify-content-between">
                             <div class="divider-2"></div>   
                             
                             <% if( rNews != ''){
                                rNews.forEach(function(dnews, index){ %>
                            <article class="col-md-4">
                                <div class="mb-3 d-flex row">
                                    <figure class="col-md-5"><a href="<%- dnews.post_category %>/<%- dnews.post_url %>"><img src="<%- dnews.post_image %>" alt="<%- dnews.post_name %>"></a></figure>
                                    <div class="entry-content col-md-7 pl-md-0">                                    
                                        <h5 class="entry-title mb-3"><a href="/<%- dnews.post_category %>/<%- dnews.post_url %>"><%- dnews.post_name %></a></h5>
                                        <div class="entry-meta align-items-center">
                                            <a href="#"><%- dnews.author %></a> in <a href="#">Surf&trade;</a><br>                                    
                                            <span><%- dnews.update_date %></span>
                                            <span class="middotDivider"></span>
                                            <span class="readingTime" title="3 min read">6 min</span>
                                            <span class="svgIcon svgIcon--star">
                                                <svg class="svgIcon-use" width="15" height="15">
                                                    <path d="M7.438 2.324c.034-.099.09-.099.123 0l1.2 3.53a.29.29 0 0 0 .26.19h3.884c.11 0 .127.049.038.111L9.8 8.327a.271.271 0 0 0-.099.291l1.2 3.53c.034.1-.011.131-.098.069l-3.142-2.18a.303.303 0 0 0-.32 0l-3.145 2.182c-.087.06-.132.03-.099-.068l1.2-3.53a.271.271 0 0 0-.098-.292L2.056 6.146c-.087-.06-.071-.112.038-.112h3.884a.29.29 0 0 0 .26-.19l1.2-3.52z"></path>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <%
                    })
                } %>
                      
                            
                            
                        </div>
                    </div>
                    <!--End post related-->


                </div> <!--container-->
            </main>
            <%- include('footer.ejs'); %> 

        </div> <!--#wrapper-->

        <a href="#" class="back-to-top heading"><i class="icon-left-open-big"></i><span  class="d-lg-inline d-md-none">Top</span></a>
        
        <!--Scripts-->
        <script src="/js/js-bootstrap.js"></script>
        <script src="/js/js-jquery-scrolltofixed-min.js"></script>
        <script src="/js/js-theia-sticky-sidebar.js"></script>
        <script src="/js/js-scripts.js"></script>
    </body>
</html>

<% } else { %>
    <script>location.replace("/en/in/404")
    </script>
<% } %>