<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Teer Result| Northeast Surf</title>

        <meta name="keywords" content="khanapara teer result, teer result today, shillong teer result, shillong teer, today teer result, khanapara teer,common teer number, teer result, juwai teer," />
        <meta name="news_keywords" content="khanapara teer result, teer result today, shillong teer result, shillong teer, today teer result, khanapara teer, common teer number" />
        <meta name="description" content="Daily Teer Result, Khanapara Teer Result Today, Shillong Teer Result Today, Teer Common Number,Teer Result Today" />
        <link rel="canonical" href="https://northeastsurf.com/" />


        <!--favincon-->
        <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
        <link rel="manifest" href="/favicons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- Bootstrap, Font Awesome, Aminate, Owl Carausel, Normalize CSS -->
        <link href="/css/css-bootstrap.css" rel="stylesheet">
        <link href="/css/css-owl.carousel.min.css" rel="stylesheet">
        <link href="/css/css-owl.theme.default.min.css" rel="stylesheet">

        <!-- Site CSS -->
        <link href="/css/css-style.css" rel="stylesheet">
        <link href="/css/css-widgets.css" rel="stylesheet">
        <link href="/css/css-color-default.css" rel="stylesheet">
        <link href="/css/css-responsive.css" rel="stylesheet">
        <link href="/css/custom.css" rel="stylesheet">

        

        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Cabin:400,700&amp;display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=B612+Mono&amp;display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&amp;display=swap" rel="stylesheet"> 

        <!-- Icons fonts-->
        <link href="/css/css-fontello.css" rel="stylesheet">

        <!--Poprup-->
        <link href="/css/css-popup.css" rel="stylesheet">
        <script src="/js/js-jquery.min.js"></script>       
        <script src="/js/js-jquery.bpopup.min.js"></script>
        <script>
        $( document ).ready(function() {
            $('#popup_this').bPopup();
        });
        </script>

        <link href='https://fonts.googleapis.com/css?family=Droid Serif' rel='stylesheet'>
        <%- include('alltags.ejs'); %> 



    </head>
    <body class="home">
        <%- include('header.ejs'); %> 
        





            <main id="content">
                



                <div class="section-featured">
                    <div class="container">
                        <div class="row">
                            <!--begin featured-->
<% if(resultDay != ''){ %>
<p style="text-align: center;"><span style="font-size: 18pt;"><strong><span style="color: rgb(0, 0, 0);">Date: <%= resultDay.counter_date %></span></strong></span></p>
<table style="border-collapse: collapse; width: 100%; height: 85.8438px;" border="1"><colgroup><col style="width: 50%;"><col style="width: 50%;"></colgroup>
<tbody>
<tr style="height: 33.5938px;">
<td style="background-color: rgb(45, 194, 107); text-align: center; height: 33.5938px;" colspan="2"><strong><span style="color: rgb(0, 0, 0); font-size: 14pt;">Shillong Teer</span></strong></td>
</tr>
<tr style="height: 26.125px;">
<td style="height: 26.125px; background-color: rgb(130, 219, 216); text-align: center;"><span style="font-size: 12pt;"><strong>First Round(4:30 PM)</strong></span></td>
<td style="height: 26.125px; background-color: rgb(186, 189, 66); text-align: center;"><span style="font-size: 12pt;"><strong>Seond Round(5:30 PM)</strong></span></td>
</tr>
<tr style="height: 26.125px;">
<td style="height: 26.125px; text-align: center;"><span style="font-size: 18pt;"><strong><%= resultDay.shillong_first %></strong></span></td>
<td style="height: 26.125px; text-align: center;"><span style="font-size: 18pt;"><strong><%= resultDay.shillong_second %></strong></span></td>
</tr>
</tbody>
</table>
<table style="width: 100%; height: 85.8438px;" border="1"><colgroup><col style="width: 50%;"><col style="width: 50%;"></colgroup>
<tbody>
<tr style="height: 33.5938px;">
<td style="background-color: rgb(224, 62, 45); text-align: center; height: 33.5938px;" colspan="2"><strong><span style="font-size: 14pt;">Khanapara Teer</span></strong></td>
</tr>
<tr style="height: 26.125px;">
<td style="height: 26.125px; background-color: rgb(180, 225, 151); text-align: center;"><span style="font-size: 12pt;"><strong>First Round(4:10 PM)</strong></span></td>
<td style="height: 26.125px; background-color: rgb(143, 189, 211); text-align: center;"><span style="font-size: 12pt;"><strong>Second Round(4:45 PM)</strong></span></td>
</tr>
<tr style="height: 26.125px;">
<td style="text-align: center; height: 26.125px;"><span style="font-size: 18pt;"><strong><%= resultDay.khanapara_first %></strong></span></td>
<td style="text-align: center; height: 26.125px;"><span style="font-size: 18pt;"><strong><%= resultDay.khanapara_second %></strong></span></td>
</tr>
</tbody>
</table>
<% } %>
                             
                            <div class="col-sm-12 col-md-12 col-xl-12">
                                <h2 class="spanborder h4 custom-font">
                                    <span style="color: #023430;text-transform:capitalize;">Previous Results</span>
                                </h2> 
                                <div class="row">
                                    <% if(tcFetch.length){
                                        for(var i = 0; i<tcFetch.length; i++){
                                    %>
                                    <div class="col-sm-12 col-md-3">
                                        <article class="first mb-3">
                                            <figure><a href="/teer/result/2022/<%= tcFetch[i].teer_permalink %>">
                                                <% if(tcFetch.teer_category=="guwahati"){
                                                    %>
                                                    <img src="https://media.northeastsurf.com/khanapara_teer.jpeg" alt="<%= dnews.teer_name %>" style="height: 200px;width: 100%;"/>
                                                    <%
                                                    }
                                                    else{
                                                    %>
                                                    <img src="https://media.northeastsurf.com/shillong_teer.webp" alt="<%= tcFetch.teer_name %>" style="height: 200px;width: 100%;"/>
                                                    <%
                                                    }
                                                    %>                                              
                                            </a></figure>

                                            <h5 class="entry-title mb-3 custom-font"><a href="/teer/result/2022/<%= tcFetch[i].teer_permalink %>"><%= tcFetch[i].teer_name %></a></h5>
                                            <div class="entry-excerpt">
                                                
                                            </div>
                                            <div class="entry-meta align-items-center">
                                                <a href="#" class="custom-font">Northeast Surf</a><br>                                  
                                                <span class="custom-font"><%= tcFetch[i].teer_date %></span>
                                                <span class="middotDivider"></span>
                                                <span class="svgIcon svgIcon--star">
                                                    <svg class="svgIcon-use" width="15" height="15">
                                                        <path d="M7.438 2.324c.034-.099.09-.099.123 0l1.2 3.53a.29.29 0 0 0 .26.19h3.884c.11 0 .127.049.038.111L9.8 8.327a.271.271 0 0 0-.099.291l1.2 3.53c.034.1-.011.131-.098.069l-3.142-2.18a.303.303 0 0 0-.32 0l-3.145 2.182c-.087.06-.132.03-.099-.068l1.2-3.53a.271.271 0 0 0-.098-.292L2.056 6.146c-.087-.06-.071-.112.038-.112h3.884a.29.29 0 0 0 .26-.19l1.2-3.52z"></path>
                                                    </svg>
                                                </span>
                                            </div>
                                    </div>
                                <%
                                }}
                                else{
                                %>
                                <script>location.replace("/en/in/404")
                                </script>

                                <%
                                }
                                %>
                        </div> <!--end row-->
                        <div class="divider"></div>           
                    </div> <!--end container-->
                </div> <!--section-featured-->
                </div>





                

                
            </main>
            <%- include('footer.ejs'); %> 

        </div> <!--#wrapper-->

        <a href="#" class="back-to-top heading"><i class="icon-left-open-big"></i><span class="d-lg-inline d-md-none">Top</span></a>

        <!-- ads popup 
        
        <div id="popup_this">
            <span class="button b-close">
                <span>X</span>
            </span>            
            <a href="#" target="_blank"><img src="images/images-wp-version.png" alt="ads"></a>
        </div>
    -->

        
        <!--Scripts-->
       
        <script src="/js/js-bootstrap.js"></script>
        <script src="/js/js-jquery-scrolltofixed-min.js"></script>
        <script src="/js/js-theia-sticky-sidebar.js"></script>
        <script src="/js/js-scripts.js"></script>
    </body>
</html>
